<div >
    <mat-toolbar color="primary" style="position: fixed; top: 0;">
    <span style="padding: 1%;">E-Learning System</span>
    <div style="padding-left: 55%;"></div>
        <button mat-button routerLink="/Home" routerLinkActive="active">Home</button>

        <button mat-button routerLink="/Courses" routerLinkActive="active">Courses</button>

        <button mat-button routerLink="/Announcements" routerLinkActive="active">Announcements</button>
        <button mat-button routerLink="/Login" routerLinkActive="active">Logout</button> 
</mat-toolbar>

</div>
