<mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile>
        <h2 >2021 -2022 Ain Shams University</h2>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="assets/twitter (1).png">
        <img src="assets/facebook.png">
        <img src="assets/youtube (1).png">
    </mat-grid-tile>
    <mat-grid-tile>
        <h2>Stay in touch:</h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile>
        <img src="assets/at.png" style='vertical-align:middle;'>
        <h4 style='vertical-align:middle; display:inline; padding-left: 5%;'>http://cis.asu.edu.eg</h4><br>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile>
        <img src="assets/email.png" style='vertical-align:middle;padding-bottom: 2%;'>
        <h4 style='vertical-align:middle; display:inline; padding-left: 5%;'>e-learning@cis.asu.edu.eg</h4>
    </mat-grid-tile>
</mat-grid-list>
