<br><br><br><br><br>

<p style="font-weight: bold; font-size: 30px; text-align: center;">Manage Users</p>

<br><br><br>

<div style="margin-left: 25%;">
    <button mat-flat-button color="primary" class="button" (click)="accpet()">Accpet Registeration Resquests</button>
    <button mat-flat-button color="primary" class="button" style="margin-left: 25%;" (click)="delete()">Delete
        Users</button><br><br><br><br>
</div>


<div *ngIf="check">
    <p style="font-size: 20px; margin-left: 25%;">Pending Users</p><br>
    <mat-card style="width: 45%; margin-left: 25%;">
        <div *ngFor="let student of students; let i = index" [attr.data-index]="i">
            <div *ngIf="student.pending">
                <p style="margin-left: 5%; display: inline; vertical-align: middle;">{{student.name}}</p>
                <button (click)="AcceptPending(i)" mat-flat-button color="primary" style="display: inline; margin-left: 35%; ">
                    Accept</button>
                <button mat-flat-button (click)="DeleteStudent(i)" color="primary" style=" display: inline; margin-left: 5%;">
                    Decline</button>
                <br>
                <hr width="90%">
                <br>
            </div>
        </div>
    </mat-card>
</div>


<div *ngIf="check == false">
    <p style="font-size: 20px; margin-left: 25%;">All Users</p><br>
    <mat-card style="width: 45%; margin-left: 25%;">
        <div *ngFor="let student of students; let i = index" [attr.data-index]="i">
            <div *ngIf="student.pending == false">
                <p style="margin-left: 5%; display: inline; vertical-align: middle;">{{student.name}}</p>
                <button mat-flat-button (click)="DeleteStudent(i)" color="primary" style="display: inline; margin-left: 70%; ">
                    Delete</button>
                <br>
                <hr width="90%">
                <br>
            </div>
        </div>
    </mat-card>
</div>

<br><br><br><br>
<app-header-faculty></app-header-faculty>
<app-footer></app-footer>