<div style="background-color: rgba(238, 238, 238, 1);">
    <br><br><br>
    <div style="vertical-align:middle; display: inline-block ; width: 50%; margin-left: 6%;">
        <p style="font-size: 50px; margin: 8%; margin-bottom: 5%;">{{course.name}}</p>
        <p style="font-size: 20px; margin-left: 9%;">Dr. {{course.dr}}</p>
        <p style="font-size: 20px; margin-left: 9%;">TA. {{course.ta}}</p>
    </div>
    <div style="vertical-align:middle; display: inline-block;">
        <br><br><br><br><br><br>
        <img src="../../assets/sp.png">
    </div>
    <br><br><br><br><br><br>
    <hr style="width: 80%;">
    <br><br><br>
    <div style="margin-left:25%; width: 50%; ">
        <app-lectures style="display: flex;"></app-lectures>
    </div>
    <br><br><br><br><br><br>
    <hr style="width: 80%;">
    <br><br><br>
    <div style="margin-left:25%; width: 50%; ">
        <app-labs style="display: flex;"></app-labs>
    </div>
    <br><br><br><br><br><br>
</div>



<app-header></app-header>
<app-footer></app-footer>