<div style="background-color: rgba(238, 238, 238, 1);">
    <br><br><br><br><br><br>
    <app-profile></app-profile>
    <br><br>
    <hr style="width: 70%;">
    <br><br>

    <p style="font-weight: bold; font-size: 30px; text-align: center;">Announcements</p>

    <mat-grid-list cols="4" rowHeight="2:1">

        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card style="text-align: center;  width: 1000px;">
                <h2>Dr. Nivin</h2>
                <h3>24/3/2022</h3>
                <h3>Lecture Presentation will be held on Monday at 2 pm</h3>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>


        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card style="text-align: center;  width: 1000px;">
                <h2>Dr. Nivin</h2>
                <h3>24/3/2022</h3>
                <h3>Lecture Presentation will be held on Monday at 2 pm</h3>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>

        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card style="text-align: center;  width: 1000px;">
                <h2>Dr. Nivin</h2>
                <h3>24/3/2022</h3>
                <h3>Lecture Presentation will be held on Monday at 2 pm</h3>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>

    </mat-grid-list>
    <br><br>
</div>
<app-header></app-header>
<app-footer></app-footer>
