<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile colspan="3">
        <mat-card style="text-align: center;  width: 40%;">
            <img src="assets/profile-user (1).png" style='vertical-align:middle;'>
            <p style='vertical-align:middle; display: inline; padding: 15%; font-weight: bold; font-size: 30px;'>{{studentProfile.name}}</p><br>
            <div style='padding-left: 5%; font-weight: bold; font-size: 15px; padding-top: 5%;'>
                <p>{{studentProfile.department}}</p>
                <p>Year {{studentProfile.year}}</p>
                <p> ID: {{studentProfile.id}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

    