<div style="background-color: rgba(238, 238, 238, 1);">
    <br><br><br><br><br><br>

    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile colspan="3">
            <p style="font-size: 50px; font-weight: bold;">Faculty of Computer and Information Science</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <p style="font-weight: bolder; font-size: 30px;">Ain Shams University, Cairo, Egypt.</p>
        </mat-grid-tile>
    </mat-grid-list>

    <hr style="width: 50%;"><br><br><br>

    <app-profile></app-profile>

    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>

            <button mat-flat-button class="button" color="primary" routerLink="/Courses" routerLinkActive="active">All Courses</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-flat-button color="primary" class="button" routerLink="/Grades" routerLinkActive="active">Grades</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-flat-button color="primary" class="button" routerLink="/Announcements"
                routerLinkActive="active">Announcements</button>

        </mat-grid-tile>
    </mat-grid-list>

    <hr style="width: 50%;"><br><br><br>

    <mat-grid-list cols="4" rowHeight="2:1">

        <mat-grid-tile>
            <img src="assets/right-arrow (1).png" />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <img src="assets/a.png" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/right-arrow (2).png" />
        </mat-grid-tile>



    </mat-grid-list>
    <br><br><br>

    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile colspan="4">
            <mat-card style="background-color: grey; width: 40%;">
                <h1 style="padding: 2%">How can we Improve?</h1>
                <mat-form-field style="width: 80%; padding: 2%">
                    <input matInput placeholder="Comment">
                </mat-form-field>
                <button mat-raised-button color="primary" style="margin: 2%">Submit</button>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <br><br><br>

</div>
<app-header></app-header>
<app-footer></app-footer>