.button {
    height: 60px;
    width: 350px;
    font-size: 40px;
    color: white;
}

.bg {
    background-image: url(../../assets/back.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}