.vl {
    border-left: 2px solid #448aff;
    height: 400px;
    display: inline-block;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
  } 

  .signUp {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40%;
    margin-bottom: 5%
  }

  body{
    background-color: rgba(238, 238, 238, 1);
  }